# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Log files
*.log

# Audio outputs
audio.wav

# PyInstaller output folders & spec file
build/
dist/
*.spec

# Screenshot 
screenshot.png

# Scripts locais
*.bat

# Icons
*.ico
